{% extends 'base.html' %} {% block body %} 

<h1>Musician_Details:</h1>
<p>{{Musician_details.FirstName}}</p>
<p>{{Musician_details.LastName}}</p>
<p>{{Musician_details.instument}}</p>

<h1> Album List:</h1>
<ul>
{% for album in Musician_details.album_list.all %}
<li>{{album.name}}</li>

{% endfor %}
</ul>

<a href="{% url 'update_view' pk=Musician_details.pk %}" class="btn btn-warning btn-sm">Update</a>
<a href="{% url 'delect_view' pk=Musician_details.pk   %}" class="btn btn-danger btn-sm">Delect</a>





 {% endblock body %}